@font-face {
    font-family: 'Exo';
    src: url('fonts/Exo-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;

}

@font-face
{
    font-family: 'Exo-SemiBold';
    src: url('fonts/Exo-SemiBold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body
{
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.first
{
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;  /* 让子元素垂直排列 */
    align-items: center;
}

.navi
{
    /*background-color: red;*/
    flex-grow: 1.0;
    width: 70%;
    display: flex;
    margin: 0 auto;
    padding-top: 20px;
    /*padding-bottom: 10px;*/
}

.logo
{
    /*background-color: #333333;*/
    width: 30%;
}

.logo img
{
    margin-left: 60px;
    height: 100px;
    width: 120px;
    filter: grayscale(100%) invert(100%);
}

.navi_bar
{
    /*background-color: aqua;*/
    width: 70%;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 150px;
    position: relative;
}

.navi_bar_element
{
    background-color: #ffffff;
    padding: 50px 0 0 10px;
}

.navi_bar_element:hover {
    /*transform: scaleY(1.2); */
}

.navi_bar_element p
{
    margin: 0;
    font-size: 28px;
    font-weight: 600;
    font-family: Exo;
    transition: border-bottom-color 0.3s ease;
    border-bottom: 4px white solid;
    box-sizing: border-box;
}

.navi_bar_element:hover p {
    border-bottom: 4px black solid;
}



.main
{
    /*background-color: bisque;*/
    flex-grow: 7.5;
    width: 70%;
    /*height: 75%;*/
    margin: 0 auto;
    padding-bottom: 5%;
    display: flex;
}

.selfie
{
    width: 40%;
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center;
}

.selfie img
{
    height: 400px;
    width: 320px;
}

.name
{
    /*background-color: aqua;*/
    width: 60%;
    text-align: center;
}

.name p
{
    color: #6c6c6c;
    font-family: Exo;
    font-size: 24px;
    margin-top: 15%;
    margin-bottom: 5px;
}

.name h1
{
    font-size: 60px;
    font-family: Exo-SemiBold;
    margin-top: 0;
    margin-bottom: 5px;
}

.typed-container
{
    color: #6c6c6c;
    font-family: Exo;
    font-size: 28px;
}

.flag-container
{
    color: #6c6c6c;
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.flag
{
    width: 35px;
}

.flag img
{
    height: 20px;
    width: 35px;
}

.button-container
{
    /*background-color: aqua;*/
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-top: 20px;
}

.button_0
{
    background-color: #000000;
    width: 180px;
    height: 60px;
    border-radius: 20px;
    border: 2px black solid;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: Exo;
    box-sizing: border-box;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.button_0 img
{
    transition: filter 0.2s ease;
}

.button_0:hover
{
    background-color: #ffffff;
    width: 180px;
    height: 60px;
    border-radius: 20px;
    border: 2px black solid;
    color: #000000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    cursor: pointer;
    box-sizing: border-box;
    font-family: Exo;
}

.button_0:hover img {
    filter: grayscale(100%) invert(100%);
}

.button_0 img
{
    margin-left: 4px;
}

.button_1
{
    background-color: #ffffff;
    width: 180px;
    height: 60px;
    border-radius: 20px;
    border: 2px black solid;
    color: #000000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: Exo;
    box-sizing: border-box;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.button_1:hover
{
    background-color: #000000;
    width: 180px;
    height: 60px;
    border-radius: 20px;
    border: 2px #000000 solid;
    color: #ffffff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: Exo;
    box-sizing: border-box;
}

.next
{
    /*background-color: #f3edd1;*/
    width: 80%;
    text-align: right;
    /*height: 10%;*/
    flex-grow: 1.5;
    margin: 0 auto;
}

.next img
{
    height: 40px;
    width: 40px;
}
@media (max-width: 1200px) {
    .navi {
        width: 80%;
    }

    .navi_bar_element p
    {
        font-size: 22px;
        border-bottom: 2px white solid;
    }

    .navi_bar_element:hover p {
        border-bottom: 2px black solid;
    }

    .logo img
    {
        height: 60%;
        width: 60%;
        margin-left: 30px;
    }

    .main
    {
        width: 80%;
    }

    .selfie img
    {
        height: 350px;
        width: 274px;
    }

    .name p
    {
        font-size: 20px;
    }

    .name h1
    {
        font-size: 50px;
    }

    .typed-container
    {
        font-size: 24px;
    }

    .flag-container
    {
        color: #6c6c6c;
        display: flex;
        justify-content: center; /* 水平居中 */
        align-items: center;
        gap: 10px;
        margin-top: 10px;
    }

    .flag
    {
        width: 35px;
    }

    .flag img
    {
        height: 20px;
        width: 35px;
    }


    .button_0
    {
        width: 140px;
        height: 60px;
        border-radius: 15px;
        padding: 10px 10px;
    }


    .button_0:hover
    {
        width: 140px;
        height: 60px;
        border-radius: 15px;
        padding: 10px 10px;
    }


    .button_1
    {
        width: 140px;
        height: 60px;
        border-radius: 15px;
        padding: 10px 10px;
    }

    .button_1:hover
    {
        width: 140px;
        height: 60px;
        border-radius: 15px;
        padding: 10px 10px;
    }


    .next
    {
        /*background-color: #f3edd1;*/
        width: 80%;
        text-align: right;
        /*height: 10%;*/
        flex-grow: 1.5;
        margin: 0 auto;
    }

    .next img
    {
        height: 40px;
        width: 40px;
    }

}



.about_page
{
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
}

.about
{
    flex-grow: 8.5;
    width: 70%;
    /*background-color: bisque;*/
    height: auto;
    margin: 0 auto;
    padding-bottom: 20px;
}

/* 为 h1 设置基本样式 */
.about h1 {
    font-family: Exo-SemiBold;
    font-size: 40px;
    margin-bottom: 20px;
    position: relative;
    border-bottom: 4px black solid;
    display: inline-block
}

.about_container
{
    width: 100%;
    height: 540px;
    margin: 0 auto;
    display: flex;
    gap: 4%;
}


.pics_gallery
{
    /*background-color: #7fb2ff;*/
    width: 28%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;  /* 水平居中 */
    align-items: center;  /* 垂直居中 */
}

.context
{
    color: #6c6c6c;
    font-family: Exo-SemiBold;
    font-size: 20px;
    margin: 2px auto;
}

.pic_title
{
    color: #000000;
    font-family: Exo-SemiBold;
    font-size: 24px;
    margin: 2px auto;
}


.button_box
{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_box img
{
    height: 30px;
    width: 30px;
}

.pic_box
{
    /*background-color: #7fb2ff;*/
    margin-left: 5%;
    margin-top: 10%;
    width: 90%;
    position: relative;
}

.pic_box img
{
    width: 100%;
    height: 100%;
}

.floating_bar {
    position: absolute;
    bottom: 0;  /* 固定在页面底部 */
    left: 0;    /* 从页面的左边开始 */
    width: 100%; /* 设置为宽度 100% */
    height: 6%;
    /*background-color: rgba(0, 0, 0, 0.3); !* 背景色及透明度 *!*/
    color: white; /* 文字颜色 */
    text-align: center; /* 文字居中 */
    z-index: 9999; /* 确保它在其他元素上面 */
    display: flex;
    align-items: center;
    justify-content: center;
}

.dash
{
    height: 4px;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.7);
    width: 15%;
    margin: 2px;
}

.dash:hover {
    background-color: white;
}


.info
{
    border: 2px black solid;
    border-radius: 20px;
    box-sizing: border-box;
    width: 68%;
    padding: 30px 30px;
}

.info p
{
    margin: 0;
}

.info_box
{
    display: flex;
    margin-bottom: 5px;
}

.info_box img
{
    height: 18px;
    width: 30px;
    margin-left: 10px;
    margin-top: 3px;
}

#route
{
    width: 100%;
    height: 20%;
}

.Q
{
    font-family: Exo-SemiBold;
    font-size: 20px;
}

.A
{
    color: #6e6e6e;
    font-family: Exo;
    font-size: 20px;
}

.FF
{
    color: #6c6c6c;
    font-family: Exo;
    font-size: 20px;
}

.status_box
{
    /*background-color: aqua;*/
    height: 60px;
    text-align: center;
    padding-top: 10px;
}

#activity, #time
{
    color: #6e6e6e;
    font-family: Exo;
    font-size: 20px;
}

#complement
{
    color: cornflowerblue;
    font-family: Exo-SemiBold;
    font-size: 20px;
}

@media (max-width: 500px)
{
    .first
    {
        margin: 0 auto;
        height: 100vh;
        display: flex;
        flex-direction: column;  /* 让子元素垂直排列 */
        justify-content: center;
    }

    .navi
    {
        width: 95%;
        flex-grow: 1.0;
        padding-top: 0%;
    }

    .navi_bar
    {
        width: 75%;
        padding-left: 0;
        padding-right: 0;
    }

    .navi_bar_element
    {
        background-color: #ffffff;
        padding: 25px 0 0 10px;
    }

    .navi_bar_element p
    {
        margin: 0;
        font-size: 14px;
    }


    .logo
    {
        width: 20%;
        margin-left:0;
    }

    .logo img
    {
        margin-top: 0;
        height: 60px;
        width: 60px;
        margin-left:0;
    }
    .main
    {
        width: 100%;
        flex-direction: column; /* 子元素垂直排列 */
        text-align: center;
        padding-bottom: 0;
        flex-grow: 6.5;
    }

    .selfie
    {
        width: 100%;
        padding-top: 50px;
    }

    .selfie img
    {
        height: 200px;
        width: 160px;
    }

    .name
    {
        width: 100%;
    }

    .name p
    {
        font-size: 20px;
        margin-top: 50px;
    }

    .name h1
    {
        font-size: 50px;
    }

    .typed-container
    {
        font-size: 24px;
    }

    .flag-container
    {
        color: #6c6c6c;
        display: flex;
        justify-content: center; /* 水平居中 */
        align-items: center;
        gap: 10px;
        margin-top: 10px;
    }

    .flag
    {
        width: 35px;
    }

    .flag img
    {
        height: 20px;
        width: 35px;
    }


    .button_0
    {
        width: 140px;
        height: 60px;
        border-radius: 15px;
        padding: 10px 10px;
    }


    .button_0:hover
    {
        width: 140px;
        height: 60px;
        border-radius: 15px;
        padding: 10px 10px;
    }


    .button_1
    {
        width: 140px;
        height: 60px;
        border-radius: 15px;
        padding: 10px 10px;
    }

    .button_1:hover
    {
        width: 140px;
        height: 60px;
        border-radius: 15px;
        padding: 10px 10px;
    }


    .next
    {
        flex-grow: 6.0;
        text-align: center;
    }

    .next img
    {
        height: 40px;
        width: 40px;
    }

    .about_page
    {
        margin: 0 auto;
        height: 100vh;
        display: flex;
        flex-flow: column;
    }

    .about
    {
        flex-grow: 8.5;
        width: 90%;
        /*background-color: bisque;*/
        height: 100%;
        margin: 0 auto;
    }

    /* 为 h1 设置基本样式 */
    .about h1 {
        font-family: Exo-SemiBold;
        font-size: 30px;
        margin-bottom: 20px;
        position: relative;
        border-bottom: 4px black solid;
        display: inline-block
    }

    .about_container
    {
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }


    .pics_gallery
    {
        /*background-color: #7fb2ff;*/
        display: none;
    }



    .info
    {
        width: 100%;
        height: 88%;
        padding:10% 10%;
    }

    .info p
    {
        margin: 0;
        font-size: 16px;
    }

    .info_box
    {
        display: flex;
        margin-bottom: 5px;
    }

    .info_box img
    {
        height: 18px;
        width: 30px;
        margin-left: 10px;
        margin-top: 3px;
    }

    #route
    {
        width: 100%;
        height: 20%;
    }

    .Q
    {
        font-family: Exo-SemiBold;
        font-size: 17px;
    }

    .A
    {
        color: #6e6e6e;
        font-family: Exo;
        font-size: 17px;
    }

    .FF
    {
        color: #6c6c6c;
        font-family: Exo;
        font-size: 20px;
    }

    .status_box
    {
        /*background-color: aqua;*/
        height: 60px;
        text-align: center;
        padding-top: 10px;
    }

    #activity, #time
    {
        color: #6e6e6e;
        font-family: Exo;
        font-size: 17px;
    }

    #complement
    {
        color: cornflowerblue;
        font-family: Exo-SemiBold;
        font-size: 17px;
    }
}